body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(./assets//images//pattern.jpeg);
}

.product-category {
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-left: 0.5em;
}

.product-price {
  font-weight: bold;
  color: blue;
}

figure {
  padding-left: 1em;
  margin: 0;
}
